.hero {
  height: 90vh;
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url("https://images.unsplash.com/photo-1517336714731-489689fd1ca8");
  background-size: cover;
  display: flex;
  align-items: center;
  padding-left: 80px;
  color: white;
}

.hero-content h1 {
  font-size: 52px;
}

.hero-content button {
  margin-top: 20px;
  padding: 12px 30px;
  background: orange;
  border: none;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 120px;
  gap: 80px;
  background: #fff;
}

/* LEFT IMAGE SECTION */
.about-images {
  display: flex;
  gap: 30px;
}

.about-images img {
  border-radius: 30px;
  object-fit: cover;
}

.img-small {
  width: 260px;
  height: 360px;
}

.img-large {
  width: 320px;
  height: 420px;
}

/* RIGHT CONTENT */
.about-content {
  max-width: 520px;
}

.about-tag {
  color: #ff6a00;
  font-weight: 600;
  letter-spacing: 1px;
}

.about-content h2 {
  font-size: 42px;
  font-weight: 700;
  margin: 20px 0;
  color: #111;
}

.about-content p {
  font-size: 16px;
  line-height: 1.7;
  color: #555;
}

.about-btn {
  margin-top: 25px;
  padding: 14px 32px;
  background: #ff6a00;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.about-btn:hover {
  background: #e85d00;
}


/* ===== PRODUCTS SECTION ===== */
.products {
  padding: 80px 60px;
  background: #ffffff;
  text-align: center;
}

.products h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #000;
}

.products p {
  font-size: 16px;
  color: #555;
  margin-bottom: 50px;
}

/* GRID */
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* CARD */
.product-card {
  background: #fff;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.06);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

/* IMAGE */
.product-card img {
  width: 100%;
  height: 220px;
  object-fit: contain;
  margin-bottom: 20px;
}

/* TITLE */
.product-card h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #000;
}

/* PRICE */
.product-card p {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  margin-bottom: 20px;
}

/* BUTTON */
.view-product-btn {
  background: #198754;
  color: #fff;
  border: none;
  padding: 12px 28px;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.view-product-btn:hover {
  background: #146c43;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .product-grid {
    grid-template-columns: 1fr;
  }

  .products {
    padding: 60px 20px;
  }
}
