/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
  background: linear-gradient(90deg, #000, #1a1a1a);
  color: white;
}

/* LOGO */
.logo {
  font-size: 26px;
  font-weight: bold;
  color: orange;
}
.nav-search {
  display: flex;
}
/* SEARCH BAR + CATEGORY */
.nav-search {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  width: 420px;
}

/* CATEGORY DROPDOWN */
.nav-search select {
  padding: 10px;
  border: none;
  outline: none;
  background: #f2f2f2;
  font-size: 14px;
  cursor: pointer;
}

/* SEARCH INPUT */
.nav-search input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 14px;
}

/* SEARCH BUTTON */
.nav-search button {
  padding: 10px 14px;
  background: orange;
  border: none;
  cursor: pointer;
  font-size: 16px;
}



/* NAV LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 22px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links li a:hover {
  color: orange;
}

/* CART */
.cart {
  cursor: pointer;
}
