/* NAVBAR CONTAINER */
.navbar {
  height: 70px;
  padding: 0 40px;
  background: linear-gradient(90deg, #0f172a, #020617);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  z-index: 1000;
  width:100%;
 box-shadow: 0 4px 6px rgba(0,0,0,0.1);


}

/* LOGO */
.navbar > a {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #f97316;
  letter-spacing: 1px;
}

/* LINKS CONTAINER */
.nav-links {
  display: flex;
  align-items: center;
  gap: 22px;
}

/* NAV LINKS */
.nav-links a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

/* HOVER UNDERLINE */
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background-color: #f97316;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a:hover {
  color: #f97316;
}

/* LOGOUT BUTTON */
.nav-links button {
  background-color: #f97316;
  color: #fff;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-links button:hover {
  background-color: #ea580c;
  transform: scale(1.05);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .navbar {
    padding: 0 20px;
  }

  .nav-links {
    gap: 14px;
  }

  .nav-links a {
    font-size: 14px;
  }
}


